<!DOCTYPE html>
<html>
  <head>
    <title>Pantonely</title>

  </head>

  <body>
    <h1>This is a music visualizer</h1>
    <video controls>
      <source src="out.mp4" type="video/mp4">
     </video>
 </body>
</html>
