/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*@font-face {
        font-family: "Streetwear";
        src: font-url(/assets/streetwear-webfont.ttf)format('truetype');
        src: font-url(/assets/Streetwear.otf) format('opentype'),
             font-url(/assets/streetwear-webfont.eot),
             font-url(/assets/streetwear-webfont.woff2)format('woff2'),
             font-url(/assets/streetwear-webfont.woff)format('woff'),
             font-url(/assets/streetwear-webfont.svg)format('svg');
    }*/

 #playlist {
     display:table;
 }
 #playlist td{
     cursor:pointer;
     padding:8px;
 }
 #playlist td:hover{
    color:blue;
}

.label {
  font-family: sans-serif;
}

body{
  background: url("background.jpg");
  background-repeat: no-repeat;
}

.navbar-brand {
  font-family: "Metropolis 1920";
  font-size: 35px !important;
  background:url('/images/rainbow2.gif');
   background-repeat:repeat-x;
   background-position:0 0;
   font-size:200px;
   text-transform:uppercase;
   text-align:center;
   color:transparent;
   -webkit-font-smoothing:antialiased;
   -webkit-background-clip:text;
   -moz-background-clip:text;
   background-clip:text;
   -webkit-text-fill-color:transparent;
   margin:0;
}
.navbar-default .navbar-nav>li>a{
  color: #E80C7F !important;
  font-family: "Metropolis 1920" !important;
}
body {
  color: #E80C7F !important;
  font-family: "Metropolis 1920" !important;
}

.well{
  background: #202020;
  font-family:sans-serif;
}

.btn-default{
  color: #D8D8D8 ;
}

.edit_comment {
  display: none;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}
