/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require ./application.css.scss
 */

 /*@font-face {
        font-family: "Streetwear";
        src: font-url(/assets/streetwear-webfont.ttf)format('truetype');
        src: font-url(/assets/Streetwear.otf) format('opentype'),
             font-url(/assets/streetwear-webfont.eot),
             font-url(/assets/streetwear-webfont.woff2)format('woff2'),
             font-url(/assets/streetwear-webfont.woff)format('woff'),
             font-url(/assets/streetwear-webfont.svg)format('svg');
    }*/

 #playlist {
     display:table;
 }
 #playlist li{
     cursor:pointer;
     padding:8px;
 }
 #playlist li:hover{
    color:blue;
}

.navbar-brand {
  background:image-url('/assets/rainbow2.gif'), image-url('assets/rainbow.jpg');
  font-size: x-large !important;
  font-family:"Streetwear", cursive;
  color: transparent;
   -webkit-font-smoothing:antialiased;
   -webkit-background-clip:text;
   -moz-background-clip:text;
   background-clip:text;
    -webkit-text-fill-color:transparent;
    margin:0;*/
  }
